
button {
    margin-top: 6px;
    margin-left: 950px;
    background-color: rgb(0, 153, 255);
}
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
nav{
    width: 100%;
}

li a:hover:not(.active) {
    background-color: #e3e7e5;
  }
 /*p {
   
    border: none;
    color: white;
    top:25%;
    left:50%;
    width:100px;
    height:40px;
    position: absolute;
    z-index: 2;
    border-radius: 10px;
    }
*/