<html>
<link href = "{{url_for('static',filename='css/login.css')}}" rel="stylesheet">
<br/>
<br/>
<div class="mydiv">
<div class="container center">
<h1> <strong>Log in</strong></h1>
<br/>
<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }} <br><br>
        {{ form.username(size=70) }}
    </p>
    <p><br/>
       
    <p><br/>
        {{ form.password_hash.label }} <br><br>
        {{ form.password_hash(size=70) }}
    </p>
    
    <p>
        {{ form.submit() }}
    </p>
</form>
<a href ='/register'>new user? click here to sign up an account</a>
</div>

<form method = 'POST' action = '/login'>
    </html>
